
// Colors
$primary: #166534;       // school green
$primary-soft: #f0fdf4;
$secondary: #1e293b;
$danger: #dc2626;
$warning: #f59e0b;
$info: #0ea5e9;

$text-dark: #0f172a;
$text-muted: #64748b;
$text-light: #94a3b8;

$bg-main: #e9f4ff;
$bg-white: #ffffff;
$border-color: #e2e8f0;
$border-dark: #000000a8; 


// Spacing
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;

$transition: all 0.25s ease;