@import "_variables";
@import "_mixin";

:root {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


.dashboardParent {
    @include grid(1fr 4fr, 2rem);
    height: 100vh;
    background-color: $bg-main;
    >aside{
       width: 100%; 
       height: 100vh; 
    padding: 1rem;
    background-color: $bg-white;
    z-index:10;
    box-shadow: 1px 2px 15px $secondary;
    overflow-y: auto;
    &::-webkit-scrollbar{
        display: none;
    };
    
    >div{
        @include flex(row, start, center, 0.6rem);
        border-bottom: 1px solid $border-dark;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
        >h2{
            @include heading(lg, 800, uppercase);
            opacity: 0.7;
        };
        >img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    
    }
     >ul>li{
        list-style: none;
     }
    }
   
}
