@import "_variables";
@import "_mixin";

:root {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// init.css
body.preload * {
  animation-duration: 0s !important;
  transition-duration: 0s !important;
}
a {
    text-decoration: none;
}

li{
    list-style: none;
}
