@import "../../styles/variables";
@import "../../styles/mixin";

.dashboardParent {
    @include grid(1fr 4fr, $spacing-4);
    height: 100vh;
    background-color: $color-primary-50;
    >main{
        background-color: $color-primary-50;
        min-height: 100%;
    }
}
